###############################
#
# Universal
#
###############################
*.swp
*.db

###############################
#
# LaTex
#
###############################

Documentation/*.aux
Documentation/*.lof
Documentation/*.log
Documentation/*.lot
Documentation/*.fls
Documentation/*.out
Documentation/*.toc
Documentation/*.fmt
Documentation/*.fot
Documentation/*.cb
Documentation/*.cb2
Documentation/*.lb

## Intermediate documents:
Documentation/*.dvi
Documentation/*.xdv
Documentation/*-converted-to.*
# these rules might exclude image files for figures etc.
# Documentation/*.ps
# Documentation/*.eps
# Documentation/*.pdf

## Generated if empty string is given at \"Please type another file name for output:\"
Documentation/*.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
Documentation/*.bbl
Documentation/*.bcf
Documentation/*.blg
Documentation/*-blx.aux
Documentation/*-blx.bib
Documentation/*.run.xml

## Build tool auxiliary files:
Documentation/*.fdb_latexmk
Documentation/*.synctex
Documentation/*.synctex(busy)
Documentation/*.synctex.gz
Documentation/*.synctex.gz(busy)
Documentation/*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
Documentation/*.alg
Documentation/*.loa

# achemso
acs-doc/*.bib

# amsthm
Documentation/*.thm

# beamer
Documentation/*.nav
Documentation/*.pre
Documentation/*.snm
Documentation/*.vrb

# changes
Documentation/*.soc

# comment
Documentation/*.cut

# cprotect
Documentation/*.cpt

# elsarticle (documentclass of Elsevier journals)
Documentation/*.spl

# endnotes
Documentation/*.ent

# fixme
Documentation/*.lox

# feynmf/feynmp
Documentation/*.mf
Documentation/*.mp
Documentation/*.t[1-9]
Documentation/*.t[1-9][0-9]
Documentation/*.tfm

#(r)(e)ledmac/(r)(e)ledpar
Documentation/*.end
Documentation/*.?end
Documentation/*.[1-9]
Documentation/*.[1-9][0-9]
Documentation/*.[1-9][0-9][0-9]
Documentation/*.[1-9]R
Documentation/*.[1-9][0-9]R
Documentation/*.[1-9][0-9][0-9]R
Documentation/*.eledsec[1-9]
Documentation/*.eledsec[1-9]R
Documentation/*.eledsec[1-9][0-9]
Documentation/*.eledsec[1-9][0-9]R
Documentation/*.eledsec[1-9][0-9][0-9]
Documentation/*.eledsec[1-9][0-9][0-9]R

# glossaries
Documentation/*.acn
Documentation/*.acr
Documentation/*.glg
Documentation/*.glo
Documentation/*.gls
Documentation/*.glsdefs

# gnuplottex
Documentation/*-gnuplottex-*

# gregoriotex
Documentation/*.gaux
Documentation/*.gtex

# htlatex
Documentation/*.4ct
Documentation/*.4tc
Documentation/*.idv
Documentation/*.lg
Documentation/*.trc
Documentation/*.xref

# hyperref
Documentation/*.brf

# knitr
Documentation/*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
Documentation/*.tikz
Documentation/*-tikzDictionary

# listings
Documentation/*.lol

# makeidx
Documentation/*.idx
Documentation/*.ilg
Documentation/*.ind
Documentation/*.ist

# minitoc
Documentation/*.maf
Documentation/*.mlf
Documentation/*.mlt
Documentation/*.mtc[0-9]*
Documentation/*.slf[0-9]*
Documentation/*.slt[0-9]*
Documentation/*.stc[0-9]*

# minted
_minted*
Documentation/*.pyg

# morewrites
Documentation/*.mw

# nomencl
Documentation/*.nlg
Documentation/*.nlo
Documentation/*.nls

# pax
Documentation/*.pax

# pdfpcnotes
Documentation/*.pdfpc

# sagetex
Documentation/*.sagetex.sage
Documentation/*.sagetex.py
Documentation/*.sagetex.scmd

# scrwfile
Documentation/*.wrt

# sympy
Documentation/*.sout
Documentation/*.sympy
Documentation/sympy-plots-for-*.tex/

# pdfcomment
Documentation/*.upa
Documentation/*.upb

# pythontex
Documentation/*.pytxcode
Documentation/pythontex-files-*/

# tcolorbox
Documentation/*.listing

# thmtools
Documentation/*.loe

# TikZ & PGF
Documentation/*.dpth
Documentation/*.md5
Documentation/*.auxlock

# todonotes
Documentation/*.tdo

# vhistory
Documentation/*.hst
Documentation/*.ver

# easy-todo
Documentation/*.lod

# xcolor
Documentation/*.xcp

# xmpincl
Documentation/*.xmpi

# xindy
Documentation/*.xdy

# xypic precompiled matrices
Documentation/*.xyc

# endfloat
Documentation/*.ttt
Documentation/*.fff

# Latexian
Documentation/TSWLatexianTempdoc*

## Editors:
# WinEdt
Documentation/*.bak
Documentation/*.sav

# Texpad
.texpadtmp

# LyX
Documentation/*.lyx~

# Kile
Documentation/*.backup

# KBibTeX
Documentation/*~[0-9]*

# auto folder when using emacs and auctex
Documentation/./auto/*
Documentation/*.el

# expex forward references with \gathertags
Documentation/*-tags.tex


